
.ProfilePage {
    
}


.ProfilePage {
    
}

.ProfilePage :global(.page__content) {
    top: 0!important;
}

.ProfilePage :global(.toolbar) {
    background: none;
    box-shadow: none;
}

.ProfilePage :global(.toolbar__title),
.ProfilePage :global(.toolbar .ons-icon),
.ProfilePage ons-fab :global(.ons-icon) {
    color: #fff;
}



