.dots {
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #000;
    margin: 5px;
}

.filled {
    background-color: #000;
}

.empty {
    background-color: transparent!important;
}