.root {
    background-color: #ec6e08;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    padding: 0 20px;
    padding-bottom: 70px;
}

.alignCenter {
    margin: auto;
    width: 100%;
    flex: 0 1 auto;
}

.img {
    max-width: 50vw;
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
}

.loginButton {
    padding: 30px;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* background: rgba(3, 3, 3, .8); */
    overflow: hidden;
    /* opacity: 0.4; */
    /* box-shadow: 10px 10px 30px #000; */
}

.card {
    width: 350px;
    max-width: 100%;
    margin: auto;
}

.title {
    color: #333;
    text-align: center;
}

