.directionsInfo {
    transition: height 300ms ease;
    margin: 0;
    padding: 0;
    transform: scale(1, 0);
}

.directionsOpen {
    transform: scale(1, 1);
}

.directionsClosed {
}

.m10, h5.m10 {
    margin: 10px;
}

.p0 {
    padding: 0;
}